/* =============================================================================
   
   CUTLER

   A custom boilerplate for web development, featuring:

    - customized Normalize.css
    - a designer-friendly fluid (percentage-based), responsive grid layout with fixed (pixel-based) gutters
    - optional equal-height grid boxes & a sensible inner padding solution
    - optional slide-like layouts with orientation settings for humans
    - responsive font-sizing
    - proper font-size hierarchy based on Fibonacci / Lucas sequences
    - tons of valuable readability enhancements
    - fixes for forms, media controls, highlighting on mobile etc.


   Need to support legacy browsers / plattforms? Cutler's got you covered!
   It even works on oldies like:

    - Internet Explorer 8 (without the responsive bits & minor usability enhancements)
    - iOS 4
    - Opera 12.10

   ========================================================================== */

/**
* Core basics
*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* Font normalization with REM units: 62.5% makes 1rem = 10px */
}

/*
* Responsive Font Resizing
* #FIXME: There must be something with less overhead than these min+max rules
*/
@media only screen and (min-width: 0.0625em) and (max-width: 30em) { /* Range: 1px to 480px */
    html {
        font-size: 37.5%;
    }
}

@media only screen and (min-width: 30.0625em) and (max-width: 48em) { /* Range: 481px to 768px */
    html {
        font-size: 43.5%;
    }
}

@media only screen and (min-width: 48.0625em) and (max-width: 64em) { /* Range: 769px to 1024px */
    html {
        font-size: 50%;
    }
}

body {
    min-height: 100%;
    text-rendering: optimizeLegibility; /* Smoother font-rendering & optimized legibility font stack */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    font: normal normal normal 1.716rem/2.432rem Helvetica Neue, Helvetica, Arial, sans-serif;
    -moz-text-size-adjust: 100%; /* Prevent text size adjust after orientation change */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size-adjust: 0.52;
    color: #333;
    text-shadow: 0 0 1px #fff;
    text-shadow: 0 0 1px rgba(255,255,255,0.4);
}

/**
* High level layout elements
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block; /* Correct block display not defined in IE 8/9 */
}

.page { /* Full width+height viewport class to create slide-like content */
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.fullwidth { /* Non-Grid fullwidth class that stretches over the entire width of the browser window */
    width: 100%;
}

.fullwidth .content {
    display: table;
}

.maincolumn { /* main content area with a max-width for better fulltext readability */
    max-width: 1200px;
    margin: 0 auto;
}

/**
* Grid with responsive fluid boxes & fixed gutters
*/
.grid-row,
.grid-box-1,
.grid-box-1-2,
.grid-box-1-3,
.grid-box-2-3,
.grid-box-1-4,
.grid-box-3-4,
.grid-box-goldenratio-large,
.grid-box-goldenratio-small,
.fullwidth .content,
figcaption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* box model switch */
}

.grid-row {
    overflow: hidden;
    padding-right: 30px; /* #gutter */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.grid-row ~ .grid-row {
    border-top: none; /* prevent doubled gutter when 2 grid-rows are next to each other */
}

.grid-row:after { /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.equalheightboxes .content:after { /* special class that can be added to .grid-row for equal height gridboxes */
    content: "";
    display: block;
    width: 100%;
    height: 9999px;
    margin-bottom: -9999px;
    background-color: inherit;
}

.boxpadding .content { /* special class that can be added to .grid-row for #innerpadding */
    padding: 30px;
}

.boxpadding .content:after { /* #innerpadding */
    padding: 0 30px;
    margin-left: -30px;
}

.grid-box-1 {
    float: none;
    width: 100%;
}

.grid-box-1-2 {
    width: 50%;
}

.grid-box-1-3 {
    width: 33.33333%;
}

.grid-box-2-3 {
    width: 66.66666%;
}

.grid-box-1-4 {
    width: 25%;
}

.grid-box-3-4 {
    width: 75%;
}

.grid-box-goldenratio-large {
    width: 61.803399%;
}

.grid-box-goldenratio-small {
    width: 38.196601%;
}

.grid-box-1,
.grid-box-1-2,
.grid-box-1-3,
.grid-box-2-3,
.grid-box-1-4,
.grid-box-3-4,
.grid-box-goldenratio-large,
.grid-box-goldenratio-small {
    display: table;
    float: left;
}

.grid-box-1:before,
.grid-box-1-2:before,
.grid-box-1-3:before,
.grid-box-2-3:before,
.grid-box-1-4:before,
.grid-box-3-4:before,
.grid-box-goldenratio-large:before,
.grid-box-goldenratio-small:before {
    content: "";
    width: 30px; /* #gutter */
    height: 0;
    float: left;
}

.grid-box-push-1-2 { /* Push classes for grid offsets */
    margin-left: 50%;
}

.grid-box-push-1-3 {
    margin-left: 33.33333%;
}

.grid-box-push-2-3 {
    margin-left: 66.66666%;
}

.grid-box-push-1-4 {
    margin-left: 25%;
}

.grid-box-push-3-4 {
    margin-left: 75%;
}

.content {
    display: table-cell;
    width: 100%;
    word-wrap: break-word;
}

.content img { /* liquid rescaling for images */
    width: 100%;
    height: auto; 
    max-width: 100%;
}

/* Range: 1px to 480px */
@media only screen and (min-width: 0.0625em) and (max-width: 30em) {
    .grid-box-1-2,
    .grid-box-1-3,
    .grid-box-2-3,
    .grid-box-1-4,
    .grid-box-3-4,
    .grid-box-goldenratio-large,
    .grid-box-goldenratio-small {
        width: 100%; /* all gridboxes become single-rowed  */
    }
    .grid-box-push-1-2,
    .grid-box-push-1-3,
    .grid-box-push-2-3,
    .grid-box-push-1-4,
    .grid-box-push-3-4 {
        margin: 0; /* negate all margins */
    }
}

/* Range: 481px to 768px */
@media only screen and (min-width: 30.0625em) and (max-width: 48em) {
    .grid-box-1-4,
    .grid-box-3-4,
    .grid-box-goldenratio-large,
    .grid-box-goldenratio-small {
        width: 100%; /* half and thirds gridboxes remain - smaller gridboxes become single-rowed  */
    }
    .grid-box-push-1-4,
    .grid-box-push-3-4 {
        margin: 0; /* negate push/pull margins for single-row gridboxes */
    }
}

/* Range: 769px to 1024px */
@media only screen and (min-width: 48.0625em) and (max-width: 64em) {

}

/**
* Vertical orientation using parent+child classes - can only be used by blocklevel elements nested within .content
*/
.verticalorientation-parent {
    display: table;
    position: relative;
    overflow: hidden;
}

.verticalorientation-top {
    display: table-row;
    vertical-align: top;
}

.verticalorientation-center {
    display: table-cell; /* table-cell makes it work in a variety of contexts */
    vertical-align: middle;
}

.verticalorientation-bottom {
    display: table-row;
    vertical-align: bottom;
}

.verticalorientation-bottom div { /* special care so that the box actually touches bottom 0 */
    display: table-cell;
    vertical-align: bottom;    
}

/**
* Custom Webfonts
*/
@font-face {
    font-family: 'customwebfont';
    src: url('/fonts/customwebfont.eot');
    src: url('/fonts/customwebfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/customwebfont.woff') format('woff'),
         url('/fonts/customwebfont.ttf') format('truetype'),
         url('/fonts/customwebfont.svg#customwebfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.customwebfont {
    font-family: customwebfont, Georgia, Times New Roman, serif;
    font-weight: 400;
    font-size-adjust: 0.45;
}

/**
* Lots of small & sensible text settings
*/

b,
strong { /* reset bolder to bold for Firefox4, Safari 5 & Chrome */
    font-weight: bold; 
}

small { /* fix inconsistent font size in small */
    font-size: 17px;
    font-size: 1.716rem;
    line-height: 24px;
    line-height: 2.432rem;
}

a,
a:link {
    color: #6699CC;
    background: transparent;
}

a:visited {
    color: #778899;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    color: #336699;
    text-decoration: none;
    outline: 0;
}

a:link { /* iOS tap highlight color */
  -webkit-tap-highlight-color: #fec;
}

::-moz-selection { /* Selection background color with no text-shadow */
  background: #fec;
  color: #333;
  text-shadow: none;
}
::selection {
  background: #fec;
  color: #333;
  text-shadow: none;
}

.whitetext { /*White text usable on dark backgrounds */
    color: #fff;
    text-shadow: 0 0 1px #333;
    text-shadow: 0 0 1px rgba(0,0,0,0.4);
}

/** 
* Fibonacci- / Lucas Sequence Font Sizing
* 0.716, 1.716 , 2.432, 4.148, 6.58, 10.728, 17.308, 28.036 ...
*/
h1 {
    font-size: 66px; /* Pixel fallback for browsers that do not support REM units */
    font-size: 6.58rem;
    line-height: 107px; /* Line height = font-size + 1 Lucas sequence step up */
    line-height: 10.728rem;
}

h2 {
    font-size: 41px;
    font-size: 4.148rem;
    line-height: 66px;
    line-height: 6.58rem;
}

.content {
    font-size: 24px;
    font-size: 2.432rem;
    line-height: 41px;
    line-height: 4.148rem;
}

/*
Reasonable assumptions for horizontal rule
*/
hr {
    display: block;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0; /* #gutter */
    padding: 0;
}

/**
* HTML5 figure consistency & figcaption layout over images
*/
figure {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
}

figure img {
    float: left;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    background-color: #000;
    background-color: rgba(0,0,0,0.66);
}

/*
Image fixes: remove border when inside 'a' element & improve quality for older IEs
and remove gap between image & bottom of its container: h5bp.com/i/440
*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/**
* Fixes for HTML5 media controls
*/
audio,
canvas,
video {
    display: inline-block; /* Correct inline-block display not defined in IE 8/9 */
}

audio:not([controls]) {
    display: none; /* Prevent browsers from displaying audio without controls */
    height: 0; /* Remove excess height in iOS 5 */
}

/**
* Remove tables default spacing
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
* For code demos & preformatted text, normalize monospace sizing
*/
pre,
code {
    font-family: Courier New, Courier, monospace, serif;
    font-size: 10px;
    font-size: 1.0rem;
    font-size-adjust: 0.42;
    white-space: pre-wrap;
}

/**
* Cross browser consistency fixes for forms
*/
fieldset {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input:required:valid,
textarea:required:valid {
    background-color: #fff;
    color: #333;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0 0 5px red;
    -webkit-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
    background-color: #fdd;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

/**
* Generic helper classes
*/
.bgcover { /*Autoexpand the background image to cover the whole container size */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.gpuaccel { /* Make the GPU handle object rendering */
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
