/** 
 * Providing pixel values for all REM sizes because they are not supported in IE8 
 */

body {
    height: auto; /* resetting height to default for IE8 because it otherwise cuts off the site at viewport end */
    font-size: 17px;
    line-height: 24px;
}

h1 {
    font-size: 66px;
    line-height: 107px;
}

h2 {
    font-size: 41px;
    line-height: 66px;
}

.content {
    font-size: 24px;
    line-height: 41px;
}

.content p {
    margin: 0 0 24px 0; /* should match .content font size for readability */    
}

small { 
    font-size: 17px;
    line-height: 24px;
}

pre,
code {
    font-size: 10px;
}

.alignleft {
    margin: 0 66px 0 0; /* #gutter */
}

.alignright {
    margin: 0 0 0 66px; /* #gutter */
}


/** 
 * Fixing fluid rescaling images in IE8 
 */
figure,
aside {
    width: inherit;
}

figure.alignleft,
figure.alignright,
aside.alignleft,
aside.alignright {
    width: auto; /* enables floating images within texts - caveat: these cannot liquid rescale only in IE8 */
}

figure img,
aside img {
    width: auto;
}
